<a href="https://colab.research.google.com/github/JesusValGzz/Mineria_de_Datos/blob/main/Avance1_PIA_Equipo10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Avance** **PIA**

Equipo: 10 

Grupo: 002, 3 horas / semana 

Integrantes:

1864878 Cerda Serrato Alan René



1867341 Cruz Lerma Jorge Antonio 

1630606 Valencia Gonzalez Jesus Eduardo

# 1.- Base de Datos: Datos históricos del Bitcoin

> A) Historical Bitcoin Data

> B) https://www.kaggle.com/umeshkumar017/historical-bitcoin-data?select=Bitcoin+Historical+Data+-+In+Rupees.csv

# 2.- Introducción General



> A) ¿Qué es el Bitcoin? 

>Bitcoin es un protocolo, proyecto de código abierto y red entre iguales que se utiliza como criptomoneda, sistema de pago y mercancía.
>Fue concebida en 2008​ por una entidad conocida bajo el seudónimo de Satoshi Nakamoto, cuya identidad concreta se desconoce. 
>En la actualidad una cantidad considerable de empresas y pequeños negocios aceptan bitcoins como medio de pago​ para servicios de todo tipo. Su alcance internacional, y el hecho de que los usuarios pueden comerciar de forma pseudoanónima, ha permitido que se abra paso en sectores cada vez más regulados, como apuestas en línea y partidas de póker.

>El uso de Bitcoin y los servicios relacionados con él están sujetos a la legislación de cada país, provincia, municipio, u otras entidades administrativas, pudiendo ser legal o ilegal dependiendo de si se han realizado decretos al respecto, o como consecuencia de la decisión expresa de reconocer o tratarlo como divisa, valor, mercancía, etc, por alguna entidad reguladora con jurisdicción en alguna de esas materias.

# 3.- Descripción de los datos

> A) Los datos son descritos con una tabla que avanza mediante el tiempo, registrando la variabilidad de valor en la moneda. No presenta gráficos ni recursos visuales.

> B) Se tienen 7 columnas, las cuales son:
1.   **Date** <- Fecha del dia a registrar.
2.   **Price** <- Precio de la moneda.
3.   **Open** <- Valor de apertura.
4.   **High** <- El valor más alto.
5.   **Low** <- El valor más bajo.
6.   **Vol.** <- Volumen de Bitcoins comerciados.
7.   **Change %** <- Porcentaje de cambio.

# 4.- Justificación del uso de datos

> A) Tenemos una gran curiosidad por el Bitcoin especialmente porque el mundo de las criptomonedas es algo que está en tendencias actualmente, sobre todo por su altísimo valor ( a fecha de hoy, 30/08/2021, 1 bitcoin equivale a 975,756.02 pesos mexicanos. 
> Pueden tomar aún mas relevancia en el futuro, y para nuestra carrera (Actuaría), es de suma importancia estar enterados de las nuevas tendencias del mundo financiero.

> B) Alguno de los beneficios sobre estar investigando acerca de este tema, es que podriamos estar mejor preparados para una posible inversión u otro movimiento con la moneda.
Creemos que sin duda es un tema muy relevante, ya que las criptomonedas pueden ser el futuro de la economía.

# 5.- Objetivo final

> A) El objetivo principal es aprender, estudiar y analizar la complejidad del mundo de las criptomonedas, ésta en particular porque es la moneda más popular y con mayor auge actualmente.
Además de que, como se mencionó anteriormente, podrían hacerse futuras inversiones o minerías.

>

# 6.- Preguntas de Interés

>1.-¿Son las criptomonedas(El Bitcoin) el futuro de la economia en el mundo?

>2.-¿Es posible que la digitalización del dinero tenga algo que ver con el auge del bitcoin?

# 7.- Parte de la Programación (Eduardo)

In [140]:
import pandas as pd
import numpy as np
import json

In [141]:
df = pd.read_csv("/content/sample_data/Bitcoin Historical Data.csv")
df = pd.read_csv("/content/sample_data/Bitcoin Historical Data.csv",encoding='utf8')

**Visualización de los datos**

In [143]:
df.shape

(4056, 7)

Vista de los primeros 5 registros

In [144]:
df.head()

           Date     Price      Open      High       Low    Vol. Change %
0  Aug 24, 2021  48,846.3  49,532.5  49,847.4  48,812.4  59.89K   -1.40%
1  Aug 23, 2021  49,539.7  49,255.4  50,498.8  49,038.6  75.37K    0.58%
2  Aug 22, 2021  49,254.5  48,870.4  49,480.3  48,151.0  49.32K    0.77%
3  Aug 21, 2021  48,875.8  49,330.0  49,719.1  48,293.5  18.20K   -0.91%
4  Aug 20, 2021  49,324.0  46,756.7  49,343.3  46,646.8  83.19K    5.49%

Vista de los ultimos 5 registros

In [145]:
df.tail()

              Date Price Open High  Low   Vol. Change %
4051  Jul 22, 2010   0.1  0.1  0.1  0.1  2.16K    0.00%
4052  Jul 21, 2010   0.1  0.1  0.1  0.1  0.58K    0.00%
4053  Jul 20, 2010   0.1  0.1  0.1  0.1  0.26K    0.00%
4054  Jul 19, 2010   0.1  0.1  0.1  0.1  0.57K    0.00%
4055  Jul 18, 2010   0.1  0.0  0.1  0.1  0.08K    0.00%


**Descrpcion básica de columnas**

In [146]:
df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')


Tipos de dato en las columnas

In [147]:
df.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

Cantidad de columnas nulas

In [148]:

df.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

**Cambiar nombres de columnas**

In [149]:
df = df.rename(columns = {'Price':'Precio'})
df = df.rename(columns = {'Date':'Fecha'})
df = df.rename(columns = {'Open':'Mañana'})
df = df.rename(columns = {'High':'Alto'})
df = df.rename(columns = {'Low':'Bajo'})
df = df.rename(columns = {'Vol.':'Volumen'})
df = df.rename(columns = {'Change %':'CambioP'})
df

             Fecha    Precio    Mañana      Alto      Bajo Volumen CambioP
0     Aug 24, 2021  48,846.3  49,532.5  49,847.4  48,812.4  59.89K  -1.40%
1     Aug 23, 2021  49,539.7  49,255.4  50,498.8  49,038.6  75.37K   0.58%
2     Aug 22, 2021  49,254.5  48,870.4  49,480.3  48,151.0  49.32K   0.77%
3     Aug 21, 2021  48,875.8  49,330.0  49,719.1  48,293.5  18.20K  -0.91%
4     Aug 20, 2021  49,324.0  46,756.7  49,343.3  46,646.8  83.19K   5.49%
...            ...       ...       ...       ...       ...     ...     ...
4051  Jul 22, 2010       0.1       0.1       0.1       0.1   2.16K   0.00%
4052  Jul 21, 2010       0.1       0.1       0.1       0.1   0.58K   0.00%
4053  Jul 20, 2010       0.1       0.1       0.1       0.1   0.26K   0.00%
4054  Jul 19, 2010       0.1       0.1       0.1       0.1   0.57K   0.00%
4055  Jul 18, 2010       0.1       0.0       0.1       0.1   0.08K   0.00%

[4056 rows x 7 columns]

**Agrupacion de datos por Precio Unico x Dia**

Precios Unicos en la Base

In [150]:
list(df.Precio.unique())

['48,846.3',
 '49,539.7',
 '49,254.5',
 '48,875.8',
 '49,324.0',
 '46,755.9',
 '44,723.8',
 '44,691.6',
 '45,996.3',
 '46,991.3',
 '47,081.5',
 '47,809.1',
 '44,403.4',
 '45,564.3',
 '45,593.8',
 '46,284.3',
 '43,792.8',
 '44,614.2',
 '42,795.4',
 '40,867.2',
 '39,736.9',
 '38,130.3',
 '39,168.4',
 '39,878.3',
 '41,553.7',
 '42,203.4',
 '40,001.4',
 '40,003.2',
 '39,452.0',
 '37,276.6',
 '35,391.1',
 '33,824.8',
 '33,603.3',
 '32,298.9',
 '32,131.4',
 '29,793.8',
 '30,837.2',
 '31,785.4',
 '31,518.6',
 '31,394.0',
 '31,840.5',
 '32,820.7',
 '32,728.1',
 '33,113.0',
 '34,227.7',
 '33,510.6',
 '33,797.4',
 '32,866.3',
 '33,867.8',
 '34,225.6',
 '33,687.8',
 '35,298.2',
 '34,742.8',
 '33,813.4',
 '33,543.6',
 '35,026.9',
 '35,834.7',
 '34,475.9',
 '34,678.5',
 '32,243.4',
 '31,594.0',
 '34,665.8',
 '33,674.3',
 '32,496.4',
 '31,692.0',
 '35,595.8',
 '35,513.4',
 '35,749.4',
 '38,052.0',
 '38,336.0',
 '40,156.1',
 '40,529.4',
 '39,022.9',
 '35,467.5',
 '37,314.6',
 '36,649.4',
 '37,332.2',
 '33,382.9',
 '33,578.0',
 '35,815.4',
 '35,520.0',
 '36,851.3',
 '39,187.3',
 '37,555.8',
 '36,687.6',
 '37,298.6',
 '35,652.8',
 '34,584.6',
 '35,662.5',
 '38,417.3',
 '39,249.2',
 '38,378.3',
 '38,750.6',
 '34,679.7',
 '37,448.3',
 '37,297.4',
 '40,717.2',
 '36,720.5',
 '42,897.3',
 '43,541.3',
 '46,426.4',
 '46,708.8',
 '49,839.8',
 '49,704.6',
 '49,384.2',
 '56,695.7',
 '55,848.9',
 '58,238.3',
 '58,840.1',
 '57,337.2',
 '56,405.4',
 '57,441.3',
 '53,741.5',
 '57,169.8',
 '56,603.8',
 '57,807.1',
 '57,720.3',
 '53,560.8',
 '54,841.4',
 '55,036.5',
 '54,020.5',
 '48,963.6',
 '50,088.9',
 '51,143.6',
 '51,729.5',
 '53,820.2',
 '56,483.2',
 '55,646.1',
 '56,207.1',
 '60,041.9',
 '61,379.7',
 '63,216.0',
 '62,980.4',
 '63,540.9',
 '59,863.8',
 '59,978.7',
 '59,748.4',
 '58,118.7',
 '58,077.4',
 '55,948.7',
 '57,996.3',
 '58,993.4',
 '58,199.9',
 '57,059.9',
 '58,977.3',
 '58,718.3',
 '58,763.7',
 '58,771.3',
 '57,616.2',
 '55,765.2',
 '55,862.9',
 '55,036.1',
 '51,322.3',
 '52,325.4',
 '54,452.5',
 '54,158.3',
 '57,383.8',
 '58,093.4',
 '58,088.0',
 '57,656.0',
 '58,913.5',
 '56,889.7',
 '55,791.3',
 '59,113.7',
 '61,195.3',
 '57,265.1',
 '57,799.5',
 '55,851.9',
 '54,879.0',
 '52,311.0',
 '50,982.3',
 '48,855.6',
 '48,792.5',
 '48,428.0',
 '50,395.1',
 '48,424.2',
 '49,595.5',
 '45,164.0',
 '46,136.7',
 '46,345.6',
 '46,928.5',
 '49,697.5',
 '48,911.2',
 '54,111.8',
 '57,433.8',
 '55,923.7',
 '55,906.6',
 '51,582.2',
 '52,079.2',
 '49,169.7',
 '47,936.3',
 '48,643.4',
 '47,168.7',
 '47,371.7',
 '47,990.7',
 '44,836.0',
 '46,508.6',
 '46,395.7',
 '38,852.9',
 '39,256.6',
 '38,297.6',
 '36,982.1',
 '37,646.8',
 '35,485.2',
 '33,515.7',
 '33,108.1',
 '34,283.1',
 '34,301.8',
 '33,374.8',
 '30,404.0',
 '32,502.1',
 '32,252.3',
 '32,241.3',
 '32,088.9',
 '33,000.5',
 '30,842.1',
 '35,476.3',
 '36,002.9',
 '36,613.2',
 '35,839.6',
 '36,019.5',
 '36,845.8',
 '39,175.7',
 '37,382.2',
 '34,076.1',
 '35,544.3',
 '38,192.2',
 '40,151.9',
 '40,599.3',
 '39,460.2',
 '36,793.2',
 '33,991.5',
 '32,022.6',
 '32,958.9',
 '32,193.3',
 '29,359.9',
 '28,949.4',
 '28,868.7',
 '27,376.0',
 '27,057.8',
 '26,261.3',
 '26,454.4',
 '24,689.6',
 '23,736.5',
 '23,257.9',
 '23,823.2',
 '22,728.5',
 '23,474.9',
 '23,844.0',
 '23,127.9',
 '22,825.4',
 '21,352.2',
 '19,434.9',
 '19,273.8',
 '19,176.8',
 '18,808.9',
 '18,023.6',
 '18,247.2',
 '18,546.0',
 '18,326.6',
 '19,170.7',
 '19,379.9',
 '19,146.5',
 '18,658.1',
 '19,433.3',
 '19,218.8',
 '18,770.7',
 '19,698.1',
 '18,185.5',
 '17,730.7',
 '17,127.1',
 '17,162.0',
 '18,723.0',
 '19,152.6',
 '18,379.6',
 '18,412.9',
 '18,687.2',
 '18,675.2',
 '17,803.5',
 '17,774.6',
 '17,662.3',
 '16,715.8',
 '15,953.0',
 '16,071.0',
 '16,324.2',
 '16,294.7',
 '15,695.8',
 '15,303.6',
 '15,327.2',
 '15,483.7',
 '14,828.4',
 '15,577.9',
 '15,587.1',
 '14,145.6',
 '14,019.9',
 '13,561.4',
 '13,759.4',
 '13,797.3',
 '13,559.9',
 '13,457.2',
 '13,278.9',
 '13,657.8',
 '13,061.6',
 '13,032.2',
 '13,117.2',
 '12,934.1',
 '12,974.6',
 '12,808.7',
 '11,913.5',
 '11,753.4',
 '11,506.9',
 '11,362.1',
 '11,322.0',
 '11,503.0',
 '11,420.4',
 '11,423.8',
 '11,533.9',
 '11,371.0',
 '11,298.4',
 '11,054.2',
 '10,924.1',
 '10,670.9',
 '10,602.6',
 '10,789.5',
 '10,672.9',
 '10,544.2',
 '10,572.3',
 '10,620.5',
 '10,776.1',
 '10,840.9',
 '10,693.2',
 '10,776.2',
 '10,727.9',
 '10,688.8',
 '10,739.4',
 '10,237.3',
 '10,531.5',
 '10,416.8',
 '10,921.5',
 '11,081.8',
 '10,933.0',
 '10,941.3',
 '10,949.5',
 '10,785.3',
 '10,675.3',
 '10,326.0',
 '10,441.9',
 '10,390.2',
 '10,339.7',
 '10,224.6',
 '10,126.6',
 '10,376.9',
 '10,296.4',
 '10,092.2',
 '10,472.5',
 '10,168.8',
 '11,413.3',
 '11,914.9',
 '11,644.2',
 '11,702.0',
 '11,468.1',
 '11,527.4',
 '11,327.4',
 '11,462.3',
 '11,324.8',
 '11,753.5',
 '11,641.6',
 '11,661.3',
 '11,529.2',
 '11,856.9',
 '11,750.2',
 '11,947.6',
 '12,282.6',
 '11,899.0',
 '11,845.3',
 '11,750.8',
 '11,770.9',
 '11,557.2',
 '11,390.4',
 '11,889.2',
 '11,681.2',
 '11,764.3',
 '11,592.0',
 '11,757.1',
 '11,735.1',
 '11,184.7',
 '11,224.4',
 '11,066.8',
 '11,803.1',
 '11,333.4',
 '11,096.2',
 '11,105.9',
 '10,908.5',
 '11,022.8',
 '9,932.5',
 '9,704.1',
 '9,546.4',
 '9,599.6',
 '9,513.7',
 '9,387.3',
 '9,162.4',
 '9,208.0',
 '9,170.2',
 '9,155.8',
 '9,135.3',
 '9,198.7',
 '9,253.4',
 '9,243.6',
 '9,300.8',
 '9,233.3',
 '9,285.1',
 '9,235.7',
 '9,429.9',
 '9,256.0',
 '9,339.0',
 '9,081.0',
 '9,134.4',
 '9,067.1',
 '9,085.1',
 '9,229.9',
 '9,135.4',
 '9,185.4',
 '9,124.0',
 '9,008.3',
 '9,160.0',
 '9,247.5',
 '9,302.0',
 '9,624.6',
 '9,683.7',
 '9,296.4',
 '9,358.8',
 '9,314.0',
 '9,388.1',
 '9,464.6',
 '9,523.5',
 '9,425.4',
 '9,345.3',
 '9,471.3',
 '9,466.6',
 '9,283.2',
 '9,878.8',
 '9,768.8',
 '9,777.9',
 '9,742.6',
 '9,669.6',
 '9,631.2',
 '9,794.4',
 '9,667.2',
 '9,527.6',
 '10,189.3',
 '9,454.8',
 '9,692.5',
 '9,424.8',
 '9,572.2',
 '9,199.1',
 '8,842.5',
 '8,898.2',
 '8,728.2',
 '9,177.0',
 '9,169.7',
 '9,059.0',
 '9,512.3',
 '9,773.3',
 '9,730.7',
 '9,677.7',
 '9,379.5',
 '9,318.0',
 '9,778.4',
 '9,298.7',
 '8,813.8',
 '8,579.8',
 '8,738.8',
 '9,554.6',
 '9,806.2',
 '9,979.8',
 '9,151.4',
 '9,001.0',
 '8,874.7',
 '8,885.5',
 '8,966.3',
 '8,821.6',
 '8,629.0',
 '8,770.9',
 '7,746.9',
 '7,766.0',
 '7,678.9',
 '7,540.4',
 '7,503.8',
 '7,488.5',
 '7,112.9',
 '6,842.5',
 '6,833.5',
 '7,122.9',
 '7,230.8',
 '7,035.8',
 '7,085.6',
 '6,629.1',
 '6,850.9',
 '6,841.3',
 '6,917.6',
 '6,867.8',
 '6,863.1',
 '7,289.0',
 '7,361.2',
 '7,185.2',
 '7,332.3',
 '6,772.7',
 '6,857.4',
 '6,735.9',
 '6,800.5',
 '6,638.5',
 '6,412.5',
 '6,391.0',
 '5,890.4',
 '6,233.7',
 '6,373.4',
 '6,725.1',
 '6,678.9',
 '6,744.6',
 '6,468.9',
 '5,822.1',
 '6,186.2',
 '6,205.3',
 '6,172.0',
 '5,361.4',
 '5,261.1',
 '5,030.0',
 '5,366.3',
 '5,182.7',
 '5,584.3',
 '4,826.0',
 '7,935.1',
 '7,891.2',
 '7,933.0',
 '8,034.1',
 '8,887.8',
 '9,134.8',
 '9,060.3',
 '8,757.9',
 '8,761.4',
 '8,904.8',
 '8,540.0',
 '8,543.7',
 '8,697.5',
 '8,818.6',
 '8,800.3',
 '9,317.2',
 '9,662.7',
 '9,942.7',
 '9,655.7',
 '9,684.5',
 '9,602.4',
 '9,609.4',
 '10,158.4',
 '9,701.4',
 '9,932.3',
 '9,907.7',
 '10,333.0',
 '10,235.1',
 '10,317.7',
 '10,229.5',
 '9,854.1',
 '10,151.5',
 '9,895.5',
 '9,818.6',
 '9,772.0',
 '9,611.8',
 '9,193.9',
 '9,296.6',
 '9,334.9',
 '9,381.6',
 '9,349.1',
 '9,507.3',
 '9,298.9',
 '9,377.3',
 '8,866.6',
 '8,607.8',
 '8,341.6',
 '8,439.9',
 '8,405.1',
 '8,678.5',
 '8,732.6',
 '8,641.9',
 '8,706.2',
 '8,916.3',
 '8,913.1',
 '8,726.9',
 '8,818.3',
 '8,829.2',
 '8,111.4',
 '8,187.6',
 '8,024.1',
 '8,187.1',
 '7,842.4',
 '8,059.6',
 '8,155.7',
 '7,759.1',
 '7,372.5',
 '7,376.8',
 '7,343.1',
 '6,967.0',
 '7,199.8',
 '7,196.4',
 '7,261.8',
 '7,397.5',
 '7,321.5',
 '7,261.7',
 '7,210.9',
 '7,224.8',
 '7,268.3',
 '7,322.8',
 '7,495.8',
 '7,156.2',
 '7,165.5',
 '7,276.0',
 '6,613.3',
 '6,903.5',
 '7,128.5',
 '7,080.8',
 '7,255.2',
 '7,208.0',
 '7,235.7',
 '7,355.8',
 '7,524.4',
 '7,510.9',
 '7,530.8',
 '7,399.2',
 '7,204.4',
 '7,291.8',
 '7,298.2',
 '7,396.4',
 '7,546.6',
 '7,742.7',
 '7,426.7',
 '7,510.6',
 '7,162.8',
 '7,115.6',
 '6,924.7',
 '7,324.1',
 '7,272.5',
 '7,627.9',
 '8,099.3',
 '8,145.7',
 '8,208.4',
 '8,509.8',
 '8,497.3',
 '8,476.3',
 '8,661.2',
 '8,783.1',
 '8,812.6',
 '8,736.9',
 '9,036.8',
 '8,804.5',
 '8,778.2',
 '9,223.5',
 '9,338.9',
 '9,310.8',
 '9,396.4',
 '9,198.3',
 '9,300.6',
 '9,230.1',
 '9,152.6',
 '9,157.9',
 '9,411.3',
 '9,207.2',
 '9,529.6',
 '9,230.6',
 '8,658.3',
 '7,422.7',
 '7,477.0',
 '8,031.4',
 '8,208.2',
 '8,223.4',
 '7,957.3',
 '7,948.5',
 '8,073.3',
 '8,000.4',
 '8,167.2',
 '8,353.3',
 '8,281.5',
 '8,304.4',
 '8,267.8',
 '8,562.3',
 '8,566.7',
 '8,182.9',
 '8,198.6',
 '7,881.9',
 '8,127.3',
 '8,148.1',
 '8,226.9',
 '8,364.1',
 '8,302.7',
 '8,284.3',
 '8,049.1',
 '8,208.5',
 '8,184.9',
 '8,063.8',
 '8,432.4',
 '8,513.9',
 '9,702.2',
 '10,031.6',
 '9,993.0',
 '10,172.7',
 '10,250.5',
 '10,164.7',
 '10,195.7',
 '10,255.5',
 '10,311.5',
 '10,337.3',
 '10,342.1',
 '10,415.1',
 '10,162.5',
 '10,105.4',
 '10,309.0',
 '10,402.8',
 '10,461.1',
 '10,309.3',
 '10,566.9',
 '10,568.2',
 '10,612.3',
 '10,348.8',
 '9,729.3',
 '9,594.4',
 '9,585.4',
 '9,491.0',
 '9,729.4',
 '10,184.8',
 '10,371.8',
 '10,136.3',
 '10,131.0',
 '10,388.7',
 '10,105.0',
 '10,141.5',
 '10,752.6',
 '10,910.7',
 '10,312.7',
 '10,218.1',
 '10,335.6',
 '10,303.4',
 '10,049.4',
 '10,892.9',
 '11,394.2',
 '11,517.2',
 '11,314.5',
 '12,089.8',
 '12,191.6',
 '12,013.9',
 '11,480.9',
 '11,816.8',
 '10,934.6',
 '10,815.7',
 '10,520.1',
 '10,380.0',
 '10,082.0',
 '9,580.7',
 '9,580.9',
 '9,727.8',
 '9,492.1',
 '9,831.0',
 '9,945.3',
 '9,804.3',
 '9,888.7',
 '10,412.5',
 '10,714.4',
 '10,826.7',
 '10,571.5',
 '10,651.4',
 '9,723.2',
 '10,845.9',
 '10,200.1',
 '11,364.9',
 '11,762.1',
 '11,342.3',
 '12,110.6',
 '12,541.5',
 '12,252.6',
 '11,415.9',
 '11,268.0',
 '10,970.2',
 '11,163.1',
 '11,900.8',
 '10,835.9',
 '10,616.6',
 '10,818.6',
 '11,906.5',
 '12,409.1',
 '11,287.8',
 '13,063.8',
 '11,809.9',
 '11,046.4',
 '10,897.1',
 '10,721.7',
 '10,179.3',
 '9,517.0',
 '9,255.4',
 '9,080.6',
 '9,318.8',
 '8,962.5',
 '8,812.5',
 '8,656.1',
 '8,219.0',
 '8,133.1',
 '7,888.0',
 '7,987.8',
 '7,635.0',
 '7,901.4',
 '7,985.2',
 '7,784.9',
 '7,779.1',
 '7,685.5',
 '8,124.8',
 '8,728.6',
 '8,545.7',
 '8,558.3',
 '8,271.9',
 '8,647.8',
 '8,716.3',
 '8,760.1',
 '8,630.2',
 '8,027.4',
 '7,970.1',
 '7,852.1',
 '7,635.7',
 '7,930.3',
 '7,965.3',
 '8,157.2',
 '7,262.6',
 '7,359.5',
 '7,871.8',
 '8,164.6',
 '7,994.6',
 '7,806.0',
 '6,984.8',
 '7,190.3',
 '6,386.0',
 '6,191.5',
 '5,990.3',
 '5,849.5',
 '5,745.1',
 '5,774.9',
 '5,830.9',
 '5,766.8',
 '5,493.8',
 '5,384.2',
 '5,320.8',
 '5,235.0',
 '5,302.3',
 '5,265.9',
 '5,298.3',
 '5,209.1',
 '5,415.6',
 '5,511.6',
 '5,346.7',
 '5,243.5',
 '5,290.2',
 '5,241.0',
 '5,264.7',
 '5,208.3',
 '5,180.9',
 '5,032.3',
 '5,134.8',
 '5,051.8',
 '5,054.2',
 '5,022.6',
 '5,307.8',
 '5,158.4',
 '5,245.2',
 '5,173.6',
 '5,046.2',
 '5,010.2',
 '4,902.4',
 '4,968.7',
 '4,859.3',
 '4,145.1',
 '4,102.3',
 '4,111.8',
 '4,102.2',
 '4,025.6',
 '4,041.7',
 '3,942.8',
 '3,937.0',
 '3,994.7',
 '4,002.5',
 '3,990.4',
 '3,982.2',
 '4,041.2',
 '4,017.0',
 '3,990.2',
 '3,981.5',
 '4,006.4',
 '3,924.3',
 '3,879.0',
 '3,865.1',
 '3,886.0',
 '3,870.3',
 '3,915.2',
 '3,944.3',
 '3,865.9',
 '3,875.1',
 '3,863.0',
 '3,857.2',
 '3,715.9',
 '3,809.5',
 '3,823.1',
 '3,821.9',
 '3,816.6',
 '3,814.6',
 '3,810.3',
 '3,833.7',
 '3,755.2',
 '4,120.4',
 '3,965.2',
 '3,936.6',
 '3,972.4',
 '3,914.3',
 '3,896.0',
 '3,664.2',
 '3,616.8',
 '3,604.7',
 '3,592.6',
 '3,611.5',
 '3,632.0',
 '3,631.8',
 '3,679.0',
 '3,661.4',
 '3,661.7',
 '3,397.7',
 '3,404.3',
 '3,468.4',
 '3,462.8',
 '3,459.1',
 '3,502.5',
 '3,467.9',
 '3,437.2',
 '3,460.0',
 '3,414.8',
 '3,442.8',
 '3,555.6',
 '3,570.9',
 '3,572.0',
 '3,574.3',
 '3,561.5',
 '3,580.1',
 '3,536.7',
 '3,542.3',
 '3,677.8',
 '3,605.6',
 '3,626.4',
 '3,588.0',
 '3,571.3',
 '3,638.1',
 '3,490.2',
 '3,597.2',
 '3,616.5',
 '3,603.7',
 '3,978.0',
 '3,971.0',
 '3,985.9',
 '4,004.1',
 '3,785.4',
 '3,802.7',
 '3,780.1',
 '3,873.8',
 '3,809.4',
 '3,709.4',
 '3,815.0',
 '3,706.8',
 '3,861.6',
 '3,586.9',
 '3,793.7',
 '3,762.5',
 '4,026.1',
 '3,944.4',
 '3,964.4',
 '3,850.9',
 '4,076.0',
 '3,687.1',
 '3,668.0',
 '3,526.1',
 '3,247.9',
 '3,228.7',
 '3,247.8',
 '3,315.3',
 '3,466.1',
 '3,407.7',
 '3,460.5',
 '3,567.5',
 '3,430.4',
 '3,422.2',
 '3,508.6',
 '3,771.6',
 '3,958.5',
 '3,897.8',
 '4,160.4',
 '4,196.2',
 '4,039.7',
 '4,296.5',
 '4,265.4',
 '3,866.5',
 '3,837.0',
 ...]

Agrupacion de Precios de 0.1

In [151]:
dfPrecio = df[df['Precio'] == '0.1']
dfPrecio

             Fecha Precio Mañana Alto Bajo Volumen CambioP
3956  Oct 25, 2010    0.1    0.1  0.2  0.1  30.30K   0.00%
3957  Oct 24, 2010    0.1    0.1  0.2  0.1  13.80K   0.00%
3958  Oct 23, 2010    0.1    0.1  0.1  0.1   4.42K   0.00%
3959  Oct 22, 2010    0.1    0.1  0.1  0.1  34.60K   0.00%
3960  Oct 21, 2010    0.1    0.1  0.1  0.1  44.87K   0.00%
...            ...    ...    ...  ...  ...     ...     ...
4051  Jul 22, 2010    0.1    0.1  0.1  0.1   2.16K   0.00%
4052  Jul 21, 2010    0.1    0.1  0.1  0.1   0.58K   0.00%
4053  Jul 20, 2010    0.1    0.1  0.1  0.1   0.26K   0.00%
4054  Jul 19, 2010    0.1    0.1  0.1  0.1   0.57K   0.00%
4055  Jul 18, 2010    0.1    0.0  0.1  0.1   0.08K   0.00%

[100 rows x 7 columns]

Agrupacion de Precios de 1 en la Mañana

In [152]:
dfMañana = df[df['Mañana'] == '1.0']
dfMañana

             Fecha Precio Mañana Alto Bajo Volumen  CambioP
3782  Apr 17, 2011    1.1    1.0  1.1  1.0  24.23K    5.71%
3783  Apr 16, 2011    1.0    1.0  1.1  1.0  28.87K    6.07%
3784  Apr 15, 2011    1.0    1.0  1.1  0.9  50.31K    0.00%
3831  Feb 27, 2011    0.9    1.0  1.0  0.9  23.27K   -7.10%
3833  Feb 25, 2011    0.9    1.0  1.0  0.9   4.46K   -8.65%
3840  Feb 18, 2011    0.9    1.0  1.0  0.8  36.95K  -13.57%
3841  Feb 17, 2011    1.0    1.0  1.0  1.0   4.01K    0.00%
3842  Feb 16, 2011    1.0    1.0  1.0  1.0   7.19K    0.00%
3844  Feb 14, 2011    1.1    1.0  1.1  1.0   7.10K    0.00%
3847  Feb 11, 2011    1.1    1.0  1.1  0.9  13.30K    9.15%

Generacion de Archivos con los Datos Agrupados

In [153]:
dfPrecio.to_csv('dfPrecio.csv', index=False)
dfMañana.to_csv('dfMañana.csv', index=False)

# **Base de datos de Repuesto**

# 1.- Base de Datos: Juegos Olimpicos Tokyo 2021

>A) 2021 Olympics in Tokyo

>B)https://www.kaggle.com/arjunprasadsarkhel/2021-olympics-in-tokyo

# 2.- Introducción General

¿Qué son los Juegos Olímpicos?

>La Olimpiadas son el mayor evento deportivo internacional multidisciplinario en el que participan atletas de diversas partes del mundo.

>Su origen viene de la inspiración de los Juegos Olímpicos que se realizaban en Grecia al rededor del siglo VIII a.C.
>Las Olimpiadas modernas se realizan cada cuatro años y sus inicios fueron en Atenas, capital de Grecia, a partir del 6 de abril de 1896.

# 3.- Descripción de los datos

>A) En la base de datos podemos apreciar las cantidades de medallas ganadas por equipo o nación, ademas del ranking en el que se encuentrar cada uno de estos.

>B)Se trata de una base de datos con siete columnas, las cuales son las siguientes:
1.   **Rank** <- Es el rango en la historia.
2.   **Team/NOC** <- Muestra el equipo olimpico o la nacionalidad.
3.   **Gold** <- Número de medallas de oro.
4.   **Silver** <- Número de medallas de plata.
5.   **Bronze** <- Número de medallas de bronce.
6.   **Total** <- Número de medallas en total.
7.   **Rank by Total** <- Se refiere al rango actual.

# 4.- Justificación del uso de datos

>A)Las olimpiadas son un evento mundial que mueve a mucha gente, son datos muy interesantes en cuestión de que pueden cambiar radicalmente cada que se celebra este evento, o vemos datos que se siguen repitiendo.

>B) Con datos así se pueden hacer muchos tipos de análisis, al ser un evento deportivo, cultural, económico, puede incluso llegar a lo político.

# 5.- Objetivo Final

>A) El objetivo principal de es ver si los países se mantienen dentro de su rango en la historia sin haber muchas variaciones.

# 6.- Preguntas de Interés



1.   ¿Los países de primer mundo son los que lideran los rangos en las Olimpiadas?
2.   ¿Existen regiones especificas del mundo donde los deportistas tengan alguna ventaja en alguna competencia?

# 7.- Parte de la Programación

In [217]:
import pandas as pd
import numpy as np
import json

In [218]:
bd = pd.read_excel("/content/sample_data/Medals.xlsx")

**Visualizacion de Datos**

In [219]:
bd.shape

(93, 7)

Muestra columnas

In [220]:
bd.head()

   Rank                    Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
0     1    United States of America    39      41      33    113              1
1     2  People's Republic of China    38      32      18     88              2
2     3                       Japan    27      14      17     58              5
3     4               Great Britain    22      21      22     65              4
4     5                         ROC    20      28      23     71              3

In [221]:
bd.tail()

    Rank              Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
88    86                 Ghana     0       0       1      1             77
89    86               Grenada     0       0       1      1             77
90    86                Kuwait     0       0       1      1             77
91    86   Republic of Moldova     0       0       1      1             77
92    86  Syrian Arab Republic     0       0       1      1             77

Descripcion de las columnas

In [222]:
bd.columns

Index(['Rank', 'Team/NOC', 'Gold', 'Silver', 'Bronze', 'Total',
       'Rank by Total'],
      dtype='object')

In [223]:
bd.dtypes

Rank              int64
Team/NOC         object
Gold              int64
Silver            int64
Bronze            int64
Total             int64
Rank by Total     int64
dtype: object

In [224]:
bd.isnull().sum()

Rank             0
Team/NOC         0
Gold             0
Silver           0
Bronze           0
Total            0
Rank by Total    0
dtype: int64

In [225]:
bd = bd.rename(columns = {'Rank':'Rango'})
bd = bd.rename(columns = {'Team/NOC':'Nacionalidad'})
bd = bd.rename(columns = {'Gold':'Oro'})
bd = bd.rename(columns = {'Silver':'Plata'})
bd = bd.rename(columns = {'Rank by Total':'Rango Total Medallas'})
bd

    Rango                Nacionalidad  Oro  ...  Bronze  Total  Rango Total Medallas
0       1    United States of America   39  ...      33    113                     1
1       2  People's Republic of China   38  ...      18     88                     2
2       3                       Japan   27  ...      17     58                     5
3       4               Great Britain   22  ...      22     65                     4
4       5                         ROC   20  ...      23     71                     3
..    ...                         ...  ...  ...     ...    ...                   ...
88     86                       Ghana    0  ...       1      1                    77
89     86                     Grenada    0  ...       1      1                    77
90     86                      Kuwait    0  ...       1      1                    77
91     86         Republic of Moldova    0  ...       1      1                    77
92     86        Syrian Arab Republic    0  ...       1      1                    77

[93 rows x 7 columns]

In [213]:
bd.Oro.astype("object")

0     39
1     38
2     27
3     22
4     20
      ..
88     0
89     0
90     0
91     0
92     0
Name: Oro, Length: 93, dtype: object

In [214]:
list(bd.Oro.unique())

[39, 38, 27, 22, 20, 17, 10, 7, 6, 4, 3, 2, 1, 0]

In [230]:
bdOro1 = bd[bd['Oro'] == '8']
bdOro1

Empty DataFrame
Columns: [Rango, Nacionalidad, Oro, Plata, Bronze, Total, Rango Total Medallas]
Index: []

In [231]:
bdOro1.to_csv('bdOro1.csv', index=False)