Ejercicios de python

**Ejercicio 1**

In [3]:
m = 1630606
print ("Jesus Eduardo Valencia González", m)

Jesus Eduardo Valencia González 1630606

**Ejercicio 2**

In [5]:
import math as m

nu1 = int(input("Escriba el Numero 1:"))
nu2 = int(input("Escriba el Numero 2:"))

suma = nu1 + nu2
resta = nu1 - nu2
multiplicacion = nu1 * nu2
division = nu1 / nu2
exponente= m.exp(nu1)

print("Suma = ",suma)
print("Resta = ", resta)
print("Multiplicacion =  ", multiplicacion)
print("Division: = ", division)
print("Exponente: = ", exponente)

Escriba el Numero 1:2
Escriba el Numero 2:4
Suma =  6
Resta =  -2
Multiplicacion =   8
Division: =  0.5
Exponente: =  7.38905609893065

**Ejercicio 3**

In [8]:
lista = []
suma = 0
for i in range (0, 30, 3):
    lista.append(i)
print (lista)

for i in lista:
    
    suma = suma + i
    
print("Resultado es = ", suma)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
Resultado es =  135

**Ejercicio 4**

In [11]:
a = int(input("Piensa en un numero: "))
if a % 2 == 0:
    print(a, "Tu numero es par")
else:
    print(a, "Tu numero es impar")

Piensa en un numero: 2
2 Tu numero es par

**Ejercicio 5**

In [12]:
import math as m

def resta(num1, num2):
        r = num1 - num2
        return r

def suma(num1, num2):
        sum = num1 + num2
        return sum

def multiplicacion(num1, num2):
        mult = num1 * num2
        return mult

def division(num1, num2):
        div = num1 / num2
        return div

def exponente(num1):
        exp = m.exp(num1)
        return exp

num1 = int(input("Numero 1: "))

num2 = int(input("Numero 2: "))

print("Suma: ",suma(num1,num2))

print("Resta: ", resta(num1,num2))

print("Multiplicacion: ", multiplicacion(num1,num2))

print("Division: ", division(num1,num2))

print("Exponencial: ", exponente(num1))

Numero 1: 2
Numero 2: 3
Suma:  5
Resta:  -1
Multiplicacion:  6
Division:  0.6666666666666666
Exponencial:  7.38905609893065

**Tuplas**

In [13]:
flotante = 8.88
integer = 8
booleana = False
compleja = 8 + 8j

print(flotante, type(flotante))

print(integer, type(integer))

print(booleana, type(booleana))

print(compleja, type(compleja))

8.88 <class 'float'>
8 <class 'int'>
False <class 'bool'>
(8+8j) <class 'complex'>

In [14]:
tupla = (1, 2, 3, 4)
print(tupla)
print("Primero: ", tupla[0])
print("Ultimo: ", tupla[3])

(1, 2, 3, 4)
Primero:  1
Ultimo:  4

In [15]:
tupla = ("H", "o", "l", "a")
print("Tupla normal: ", tupla)
tupla = list(tupla)
tupla.append("A")
tupla.append("m")
tupla.append("i")
tupla.append("g")
tupla.append("o")
tupla.append("s")
tupla = tuple(tupla)
print("Tupla con agregados", tupla)

Tupla normal:  ('H', 'o', 'l', 'a')
Tupla con agregados ('H', 'o', 'l', 'a', 'A', 'm', 'i', 'g', 'o', 's')

**Listas**

In [17]:
import random
listaNumerosAleatorios = random.sample(range(0, 40), 40)
print('Lista de números aleatorios:\n', listaNumerosAleatorios)

Lista de números aleatorios:
 [11, 22, 35, 13, 18, 32, 7, 5, 26, 2, 21, 25, 23, 0, 24, 34, 38, 9, 14, 29, 30, 1, 31, 17, 19, 6, 8, 37, 3, 28, 20, 33, 36, 15, 27, 10, 12, 16, 39, 4]

In [18]:
import random

def filtrar_pares_impares(listaNumeros):
    listaNumerosPares = []
    listaNumerosImpares = []
    
    for numero in listaNumeros:
        if (numero % 2) == 0:
            listaNumerosPares.append(numero)
        else:
            listaNumerosImpares.append(numero)
    return listaNumerosPares, listaNumerosImpares

listaNumerosAleatorios = random.sample(range(0, 82), 40)
listaNumerosPares, listaNumerosImpares = filtrar_pares_impares(listaNumerosAleatorios)

print('Lista de números aleatorios:\n', listaNumerosAleatorios, '\n')
print('Lista de números pares:\n', listaNumerosPares, '\n')
print('Lista de números impares:\n', listaNumerosImpares)

Lista de números aleatorios:
 [66, 76, 65, 55, 53, 77, 59, 69, 3, 18, 32, 26, 57, 22, 7, 38, 61, 34, 72, 60, 50, 16, 68, 6, 29, 58, 30, 25, 31, 41, 1, 79, 17, 48, 54, 23, 21, 8, 9, 37]

Lista de números pares:
 [66, 76, 18, 32, 26, 22, 38, 34, 72, 60, 50, 16, 68, 6, 58, 30, 48, 54, 8]

Lista de números impares:
 [65, 55, 53, 77, 59, 69, 3, 57, 7, 61, 29, 25, 31, 41, 1, 79, 17, 23, 21, 9, 37]

In [19]:
longitudLista1 = len(listaNumerosPares)
longitudLista2 = len(listaNumerosImpares)

print('Longitud lista de pares:', longitudLista1)
print('Longitud lista de impares:', longitudLista2)

Longitud lista de pares: 19
Longitud lista de impares: 21

In [20]:
listaNumerosPares.sort(reverse=True)
listaNumerosImpares.sort()

print('Lista par de mayor a menor:', listaNumerosPares)
print('Lista impar de menor a mayor:', listaNumerosImpares)

Lista par de mayor a menor: [76, 72, 68, 66, 60, 58, 54, 50, 48, 38, 34, 32, 30, 26, 22, 18, 16, 8, 6]
Lista impar de menor a mayor: [1, 3, 7, 9, 17, 21, 23, 25, 29, 31, 37, 41, 53, 55, 57, 59, 61, 65, 69, 77, 79]

**Diccionarios**

In [21]:
diccionario = {"Laura ": 22, "Jesus":24, "Lidia": 17, "Marcelo": 18, "Fernanda": 19, "Ruth":28 }
print(diccionario)

{'Laura ': 22, 'Jesus': 24, 'Lidia': 17, 'Marcelo': 18, 'Fernanda': 19, 'Ruth': 28}

In [23]:
diccionario = {"Laura ": 22, "Jesus":24, "Lidia": 17, "Marcelo": 18, "Fernanda": 19, "Ruth":28 }
lista = diccionario.values()
print("Edades ordenadas: ", sorted(lista))

Edades ordenadas:  [17, 18, 19, 22, 24, 28]

In [24]:
diccionario = {"Laura ": 22, "Jesus":24, "Lidia": 17, "Marcelo": 18, "Fernanda": 19, "Ruth":28 }

lista=list(diccionario.keys())

for i in lista:
    print(i)

Laura
Jesus
Lidia
Marcelo
Fernanda
Ruth

In [26]:
diccionario = {"Laura ": 22, "Jesus":24, "Lidia": 17, "Marcelo": 18, "Fernanda": 19, "Ruth":28  }
diccionario["Pablo"] = 20
diccionario["Baude"] = 50
print(diccionario)

{'Laura ': 22, 'Jesus': 24, 'Lidia': 17, 'Marcelo': 18, 'Fernanda': 19, 'Ruth': 28, 'Pablo': 20, 'Baude': 50}

**Sets**

In [28]:
import random

listaNumerosAleatorios = []
for numero in range(0, 100):
    n = random.randrange(1, 25)
    listaNumerosAleatorios.append(n)
print(listaNumerosAleatorios, '\n')
setNumerosAleatorios = set(listaNumerosAleatorios)
print(setNumerosAleatorios, '\n')
print('Los sets no pueden contener elementos duplicados')

[15, 3, 7, 20, 8, 17, 4, 20, 4, 5, 19, 9, 20, 18, 21, 22, 12, 15, 12, 6, 21, 20, 17, 1, 19, 4, 9, 2, 10, 21, 5, 16, 15, 5, 7, 5, 9, 5, 9, 12, 9, 9, 1, 15, 18, 18, 7, 21, 23, 11, 1, 23, 24, 2, 13, 3, 16, 7, 9, 8, 12, 8, 11, 11, 4, 24, 23, 3, 1, 18, 2, 17, 13, 13, 6, 2, 24, 12, 1, 22, 8, 23, 20, 15, 16, 5, 15, 13, 2, 11, 21, 8, 11, 17, 11, 5, 10, 12, 18, 9]

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

Los sets no pueden contener elementos duplicados

In [29]:
print('Longitud set:', len(setNumerosAleatorios))

Longitud set: 23

In [30]:

import random

listaNumerosAleatorios = []
for numero in range(0, 5):
    n = random.randrange(1, 10)
    listaNumerosAleatorios.append(n)
print(listaNumerosAleatorios, '\n')
print(setNumerosAleatorios, '\n')

[6, 1, 1, 7, 2]

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}

Si aparece cada valor en el set original